<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm">
            <h4 class="block-title">
                <span>MỚI NHẤT</span>
                <div class="line"></div>
            </h4>
            <div class="row">
                <div class="col-md-6 col-sm main-news">
                    <div *ngFor="let item of newsList  ;let i=index">
                        <div class="news-item" *ngIf="i===0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
                                    <mat-card-content>
                                        <div class="cart-news-title">{{item?.title}}</div>
                                        <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                        <div [innerHTML]="item?.content" class="content"></div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm list-news-container">
                    <div *ngFor="let item of newsList ;let i=index">
                        <div class="news-item" *ngIf="i>0 && i <5">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <mat-card-content>
                                        <div class="cart-news-title">{{item?.title}}</div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm main-news">
                    <h4>
                        <span>
                            360 BẤT ĐỘNG SẢN
                        </span>
                        <div class="line"></div>
                    </h4>
                    <!-- 360   360 BẤT ĐỘNG SẢN-->
                    <div *ngFor="let item of newsList | filterNews :1  ;let i=index">
                        <!-- Headnews -->
                        <div class="news-item" *ngIf="i===0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
                                    <mat-card-content>
                                        <div class="cart-news-title">{{item?.title}}</div>
                                        <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                        <div [innerHTML]="item?.content" class="content"></div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                        <!-- another news -->
                        <div class="news-item" *ngIf="i > 0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <mat-card-content>
                                        <div class="cart-news-title">{{item?.title}}</div>
                                        <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-sm list-news-container">
                    <h4>
                        <span>
                            TIN THỊ TRƯỜNG
                        </span>
                        <div class="line"></div>
                    </h4>
                    <div *ngFor="let item of newsList | filterNews :2  ;let i=index">
                        <!-- Headnews -->
                        <div class="news-item" *ngIf="i===0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
                                    <mat-card-content>
                                        <div class="cart-news-title">{{item?.title}}</div>
                                        <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                        <div [innerHTML]="item?.content" class="content"></div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                        <!-- another news -->
                        <div class="news-item" *ngIf="i > 0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <mat-card-content>
                                        <div class="cart-news-title">{{item?.title}}</div>
                                        <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>

        <section class="advertiments col-md-4 col-sm">
            <div class="advertiments-wrapper">
                <span>QUẢNG CÁO</span>
                <div class="line"></div>
            </div>
        </section>
    </div>

    <section class="social">
        <h4 class="social-title text-center"><span>TRUYỀN THÔNG</span></h4>
        <div class="carousel">

        </div>
    </section>

    <section class="second-news">
        <div class="row">
            <div class="col-md-4 col-sm">
                <h4 class="fengshui">
                    <span>PHONG THUỶ</span>
                    <div class="line"></div>
                </h4>
                <!-- start -->
                <div *ngFor="let item of newsList | filterNews :4  ;let i=index">
                    <!-- Headnews -->
                    <div class="news-item" *ngIf="i===0">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    <div [innerHTML]="item?.content" class="content"></div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <!-- another news -->
                    <div class="news-item" *ngIf="i > 0">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
            <div class="col-md-4 col-sm">
                <h4 class="fengshui">
                    <span>KIẾN TRÚC</span>
                    <div class="line"></div>
                </h4>
                <!-- start -->
                <div *ngFor="let item of newsList | filterNews :5  ;let i=index">
                    <!-- Headnews -->
                    <div class="news-item" *ngIf="i===0">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    <div [innerHTML]="item?.content" class="content"></div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                    <!-- another news -->
                    <div class="news-item" *ngIf="i > 0">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
            <div class="col-md-4 col-sm">
                <h4 class="view-most">
                    <span>XEM NHIỀU</span>
                    <div class="line"></div>
                </h4>
                <!-- start -->
                <div *ngFor="let item of newsList  ;let i=index">
                    <!-- another news -->
                    <div class="news-item" *ngIf="i < 4">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </section>
</div>