<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm">
            <h4 class="block-title">
                <span>MỚI NHẤT</span>
                <div class="line"></div>
            </h4>
            <div class="row">
                <div class="col-md-6 col-sm main-news">
                   <div *ngFor="let item of newsList | filterNews :2  ;let i=index">
                    <div class="news-item" *ngIf="i===0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
                                    <mat-card-content>
                                    <h5 class="cart-news-title">{{item?.title}}</h5>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    <div [innerHTML] ="item?.content"></div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                       <button mat-raised-button  (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="col-md-6 col-sm list-news-container">
                    <div *ngFor="let item of newsList | filterNews :2  ;let i=index">
                        <div class="news-item" *ngIf="i>0">
                            <div class="p-2 newsCard">
                                <mat-card>
                                    <mat-card-content>
                                    <h5 class="cart-news-title">{{item?.title}}</h5>
                                    </mat-card-content>
                                    <mat-card-actions>
                                       <button mat-raised-button  (click)="goToDetail(item?.id)">Chi tiết</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm main-news">
                    <h4>
                        <span>
                            360 BẤT ĐỘNG SẢN
                        </span>
                        <div class="line"></div>
                    </h4>
                    <!-- <div class="news-item">HEAD NEWS</div> -->
                    <div class="news-item" *ngFor="let item of newsList | filterNews :1; let i=index">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    <div class="font-italic">Tác giả: {{item?.author}}</div>
                                    <div class="font-italic">Danh mục:
                                        {{item?.category?.name?item?.category?.name:'Chưa phân loại'}}</div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm list-news-container">
                    <h4>
                        <span>
                            TIN THỊ TRƯỜNG
                        </span>
                        <div class="line"></div>
                    </h4>
                    <div class="news-item" >HEAD NEWS</div>
                    <div class="news-item" *ngFor="let item of newsList | filterNews :2; let i=index">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                                    <div class="font-italic">Tác giả: {{item?.author}}</div>
                                    <div class="font-italic">Danh mục:
                                        {{item?.category?.name?item?.category?.name:'Chưa phân loại'}}</div>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm">
            <div class="advertiments">
                <span>QUẢNG CÁO</span>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="social">
        <h4 class="social-title text-center"><span>TRUYỀN THÔNG</span></h4>
        <div class="row">

        </div>
    </div>

    <section class="second-news">
        <div class="row">
            <div class="col-md-4 col-sm">
                <div class="fengshui">
                    <span>PHONG THUỶ</span>
                    <mat-divider></mat-divider>
                </div>
                <div>
                    <div class="news-item" *ngFor="let item of newsList | filterNews :4; let i=index">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <!-- <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                            <div class="font-italic">Tác giả: {{item?.author}}</div>
                            <div class="font-italic">Danh mục: {{item?.category?.name?item?.category?.name:'Chưa phân loại'}}</div> -->
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm">
                <div class="fengshui">
                    <span>KIẾN TRÚC</span>
                <mat-divider></mat-divider>
                </div>
                <div>
                    <div class="news-item" *ngFor="let item of newsList | filterNews :4; let i=index">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <!-- <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                            <div class="font-italic">Tác giả: {{item?.author}}</div>
                            <div class="font-italic">Danh mục: {{item?.category?.name?item?.category?.name:'Chưa phân loại'}}</div> -->
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm">
                <div class="fengshui">
                    <span>XEM NHIỀU</span>
                    <mat-divider></mat-divider>
                </div>
                <div>
                    <div class="news-item" *ngFor="let item of newsList | filterNews :4; let i=index">
                        <div class="p-2 newsCard">
                            <mat-card>
                                <mat-card-content>
                                    <div class="cart-news-title">{{item?.title}}</div>
                                    <!-- <div class="font-italic">Ngày tạo: {{item?.composeDate}}</div>
                            <div class="font-italic">Tác giả: {{item?.author}}</div>
                            <div class="font-italic">Danh mục: {{item?.category?.name?item?.category?.name:'Chưa phân loại'}}</div> -->
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button (click)="goToDetail(item?.id)">Chi tiết</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>