
<div class="map-view">
 
  <!-- <h1>Angular Google Maps with Places Search Example</h1>
 
  <div class="form-group">
    <label>Nhập địa chỉ</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
 
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
 
  <h5>Địa chỉ: {{address}}</h5>
  <div>Kinh độ: {{latitude}}</div>
  <div>Vĩ độ: {{longitude}}</div> -->
  <div style="height: 80vh; width: 80vw;">
    <heremap [center]="position" [zoom]="14" [mapManager] = "mapManager">
      <map-marker [position] = "position"></map-marker>
    </heremap>
  </div>
</div>
