<div class="map-wrapper row">
    <div class="left-content col-md-7 col-sm" *ngIf="!isFullMap">
        <form [formGroup]='searchDetail' class="" (ngSubmit)="onSubmitSearch()">
            <div class="search-section row">
                <mat-form-field>
                    <mat-select placeholder="Mục đích sử dụng" formControlName="tradeKind">
                        <mat-option *ngFor="let tradeKind of tradeKinds" [value]="tradeKind.id">
                            {{tradeKind.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nhập từ khoá tìm kiếm" formControlName="query" (keyup) = "onKey($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Loại bất động sản" formControlName="reKind">
                        <mat-option *ngFor="let reKind of reKinds" [value]="reKind.id">
                            {{reKind.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Quận /Huyện" formControlName="district" (selectionChange)="onChangeDistrict()">
                        <mat-option *ngFor="let district of districtList" [value]="district.id">
                            {{district.nameWithType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Xã Phường /Huyện" formControlName="ward">
                        <mat-option *ngFor="let ward of wardList; let i=index" [value]="ward.id">
                            {{ward.nameWithType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sortby-section row">
                <div class="sort-left col-md-6 col-sm">
                    <div class="title">Mua bán nhà riêng quận {{districtInfo?.pathWithType}}</div>
                    <div class="result-count">Có {{(reList | search:query)?.length > 0?(reList | search:query)?.length : 0}} nhà riêng bán tại quận
                        {{districtInfo?.nameWithType}}</div>
                </div>
                <div class="sort-right col-md-6 col-sm">

                </div>
            </div>
            <div class="re-list ">
                <div class="re-container row" *ngFor="let item of reList | search:query; let i = index">
                    <app-realestate-item [dataItem]="item" class="col-md-6 col-sm"></app-realestate-item>
                </div>
            </div>
            <button mat-raised-button type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div class="map-container col-md-5 col-sm" *ngIf="!isFullMap">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
    <div class="map-container col-md col-sm" *ngIf="isFullMap">
        <button mat-icon-button aria-label="Bản đồ và bất động sản" routerLinkActive="mat-primary"
            [routerLink]="['/tim-kiem']">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Bản đồ toàn màn hình" (click)="mapFullScreen($event)">
            <mat-icon>map</mat-icon>
        </button>
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>