.map-wrapper{
  .map-container {
    position: relative;
    max-width: 100%;
    height:100vh;
    .map-frame {
      position: fixed;
      height: inherit; 
      width: inherit;
      #map {
        height: 99%; 
        z-index: 10;
      }
    }
  }
}
.desc{
  color: #FD784F;
  font-size: 1.5em;
  font-weight: bold;
}