.map-wrapper{
  .map-container {
    position: relative;
    width:50vw;
    height:100vh;
    .map-frame {
      position: relative;
      height: inherit; 
      width: inherit;
      #map {
        height: 99%;
      }
    }
  }
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
.desc{
  color: #FD784F;
  font-size: 1.5em;
  font-weight: bold;
}