<div class="container">
    <h3>Thêm mới bất động sản</h3>
    <div>
        <form [formGroup]="realEstate" (ngSubmit)="save($event)">
            <mat-form-field>
                <input matInput placeholder="Họ và tên" formControlName="username" #username>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="dob" placeholder="Ngày sinh" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob  [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" type="email"  formControlName="email" #email>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nghề nghiệp"  formControlName="job" #job>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Số điện thoại" formControlName="phone" #phone>
            </mat-form-field>
            <mat-form-field>
                <button mat-button (click)="onSelectFile()">Chọn ảnh</button>
            </mat-form-field>
            <mat-form-field>
                <img [src]="imgURL" [style.height.px]="height" *ngIf="imgURL">
            </mat-form-field>
            <input #file type="file" accept='image/*' (change)="preview($event)" formControlName="realImages" multiple
                class="hidden" />
            <mat-form-field>
                <button mat-raised-button type="submit">Lưu lại</button>
            </mat-form-field>
        </form>
    </div>
</div>