<div class="container re-detail-wrapper">
  <div class="re-detail-path-header">
    <span class="area-left">Trang chủ / Tp.HCM / Nhà riêng quận Gò Vấp</span>
    <div class="area-right">
      <span class="mr-2">Mã tin đăng : 47032</span>
      <span class="mx-2"><i class="fas fa-eye icon"></i> 1866</span>
      <span class="mx-2"
        >Chia sẻ : <i class="fab fa-facebook icon icon-facebook"></i>
      </span>
      <!-- <span class="mx-2">  <i class="fas fa-facebook-messenger icon icon-messenger"></i></span> -->
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-8 col-lg-8 content-left">
        <mat-card class="main-news mw-100">
          <img src="https://picsum.photos/id/237/1080/500" alt="" />
        </mat-card>
      </div>
      <div class="col-md-4 col-lg-4 content-right">
        <mat-card class="request-infor mw-100">
          <h5 class="text-center">Yêu cầu thông tin</h5>
          <form>
            <mat-form-field appearance="outline">
                <mat-label>Họ và Tên</mat-label>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput placeholder="Nguyễn Văn A" required name="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <mat-icon matPrefix>phone</mat-icon>
                <input matInput placeholder="09xxxxxxxx" required name="phone"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>mail_outline</mat-icon>
                <input matInput placeholder="email@example.com" name="emails"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Thời gian</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="dd/MM/yyyy" name="date">
                <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mã chương trình</mat-label>
                <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
                <input matInput placeholder="ABC123456" name="programCode"/>
            </mat-form-field>
            <div class="footer-form d-flex justify-content-around">
                <button type="submit" mat-raised-button color="accent" class="btn-rounded btn-on-plan">Đặt lịch xem</button>
                <button type="submit" mat-raised-button class="btn-rounded btn-save text-black">Lưu bản tin</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <app-favorite></app-favorite>
</div>
