@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import '../../../my-theme.scss';
.re-detail-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  .re-detail-path-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .area-left {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .area-right {
    .icon {
      color: grey;
      line-height: 1.5;
    }
    .icon:hover{
      color:$accent;
    }
  }
  .main-content {
    background-color: white;
    .content-left {
      img {
        max-width: 100%;
        height: auto;
      }
      .re-desc{
        .re-desc-line-2{
          display: flex;
          justify-content: space-between;
          align-items:center;
          align-content: center;
          .price-left > *, .p-district>*{
            margin-right: .5rem;
          }
        }
        .re-inline{
          display: inline-block;
        }
      }
      .re-detail,.re-read-more {
        .re-elements {
          list-style-type: disc;
          padding:0;
        }
        .elements {
          width: 33.33%;
          position: relative;
          display: inline-block;
          padding: 6px 0 6px 15px;
        }
      }
    }
    .content-right {
      .request-infor {
        h5 {
        }
        form {
          mat-form-field {
            width: 100%;
          }
          button {
            padding: 1rem .5rem;
            margin:.5rem;
          }
        }
      }
    }
  }
}
.nav-button {
  top: 40%;
  position: fixed;
  .btn-previous {
    margin-left: -10px;
    position: absolute;
  }
  .btn-next {
    right: -10px;
    position: absolute;
    margin-right: -10px;
  }
}
.carousel-wrapper {
  position: relative;
  .slide-item{
    .slide-caption {
      position: absolute;
      bottom: 0;
      text-align:center;
      background: rgba(0,0,0,.75);
      width:100%;
      padding: 1rem 0;
    }
  }
}
.icon {
  color: rgba(1, 1, 1, 0.2);
}
.icon:hover {
  color: red;
}
@media screen and (max-width: 768px){
  .re-detail {
    .re-elements {
      display:flex;
      flex-wrap: wrap;
    }
    .elements {
      width: 100% !important;
    }
  }
}
