
@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
.re-detail-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  .re-detail-path-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .area-left {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .area-right {
    .icon {
      color: grey;
      line-height: 1.5;
    }
  }
  .main-content {
    background-color: white;
    .content-left{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .content-right {
    .request-infor{
        h5{

        }
        form{
            mat-form-field{
                width: 100%;
            }
            button{
                padding: 10px; 
                // border-radius: 3rem;
            }
        }
    }
    }
  }
}
