<div id="top-bar" class="sidenav re-menu-stand re-menu-stand-scroll">
  <a href="#" id="bdsdq"><div class="re-text">Bất động sản an toàn đã được thẩm định</div></a>
  <a href="#" id="bdshot"><div class="re-text">Bất động sản HOT</div> </a>
  <a href="#" id="hot-locations"><div class="re-text">Các điểm nóng giao dịch</div></a>
  <a href="#" id="why-re"><div class="re-text">Tại sao chọn Propzy?</div></a>
  <a href="#" id="buy-by-request"><div class="re-text">Mua nhà theo nhu cầu</div></a>
  <a href="#" id="news-bds"><div class="re-text">Tin tức bất động sản</div></a>
  <a href="#" id="download-app"><div class="re-text">Tải ứng dụng</div></a>
</div>