<div id="top-bar-left" class="sidenav re-menu-stand re-menu-stand-scroll">
  <a href="#" id="bdsdq"
    ><div class="re-text txt-bdsdq">
      Bất động sản an toàn đã được thẩm định
    </div></a
  >
  <a href="#" id="bdshot"
    ><div class="re-text txt-bdshot">Bất động sản HOT</div>
  </a>
  <a href="#" id="hot-locations"
    ><div class="re-text txt-hot-locations">Các điểm nóng giao dịch</div></a
  >
  <a href="#" id="why-re"
    ><div class="re-text txt-why-re">Tại sao chọn Propzy?</div></a
  >
  <a href="#" id="buy-by-request"
    ><div class="re-text txt-buy-by-request">Mua nhà theo nhu cầu</div></a
  >
  <a href="#" id="news-bds"
    ><div class="re-text tx-news-bds">Tin tức bất động sản</div></a
  >
  <a href="#" id="download-app"
    ><div class="re-text txt-download-app">Tải ứng dụng</div></a
  >
</div>
<div id="top-bar-right" class="sidenav re-menu-stand re-menu-stand-scroll">
  <a href="#" id="request"
    ><div class="re-text txt-request">
      <span><i class="fas fa-angle-left"></i></span> Nhu cầu
    </div></a
  >
  <a href="#" id="advisory"
    ><div class="re-text txt-advisory">
      <button mat-fab color="primary"><mat-icon> chat</mat-icon></button>
    </div></a
  >
</div>
