<div class="container">
  <div
    class="login-wrapper d-flex justify-content-center align-items-center flex-column"
  >
    <h4 class="title-name">Đăng nhập thành viên</h4>
    <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm.value)" novalidate>
      <div class="form-content">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail_outline</mat-icon>
          <input matInput placeholder="email@example.com" name="email"type="email" required #emailInput required [ngModel]="userInfo.email"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mật khẩu</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            placeholder="Mật khẩu"
            required
            name="password"
            type="password"
            #passwordInput
            id="password"
            required
            [ngModel]="userInfo.password"/>
        </mat-form-field>
        <button  (click)="loginWithGoogle()" mat-raised-button class="btn-social btn-login-google py-2 mx-3" type="button"><span><i class="fab fa-google"></i></span> Đăng nhập với Google</button>
        <button *ngIf="false" (click)="loginWithFacebook()" mat-raised-button class="btn-social btn-login-facebook py-2 mx-3" type="button"><span><i class="fab fa-facebook-f"></i></span> Đăng nhập với Facebook</button>
      </div>
      <div class="footer-form d-flex justify-content-center flex-row">
        <button
          type="submit"
          mat-raised-button
          class="btn btn-primary"
          [disabled]="!loginForm.valid"
        >
          Đăng Nhập
        </button>
        <button
        type="button"
        mat-raised-button
        class="btn btn-danger"
        (click)="onLogOut()"
        [hidden]="!isLogedIn"
      >
        Đăng Xuất
      </button>
      </div>
    </form>
    <div *ngIf="isLogedIn"  b4-a class="alert alert-success" role="alert"><strong>Đăng nhập thành công</strong></div>
    <div *ngIf="loginError"  b4-a class="alert alert-danger" role="alert"><strong>Đăng nhập thất bại</strong></div>
    <!-- <pre>{{ loginForm.value | json }}</pre> -->
  </div>
</div>
