<div class="container">
  <div
    class="login-wrapper d-flex justify-content-center align-items-center flex-column"
  >
    <h4 class="title-name">Đăng nhập thành viên</h4>
    <form>
      <div class="form-content">
        <mat-form-field appearance="outline">
          <mat-label>Tên đăng nhập</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            matInput
            placeholder="nguyenvana123"
            required
            name="username"
            [formControl]="username"
            (change)="onUsernameChange()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mật khẩu</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            placeholder="Mật khẩu"
            required
            name="password"
            type="password"
            [formControl]="password"
            (change)="onPasswordChange()"
          />
        </mat-form-field>
        <div class="result-login" *ngIf="loginResult">{{username.value}} - {{password.value}}</div>
        <button  (click)="loginWithGoogle()" mat-raised-button class="btn-social btn-login-google py-2 mx-3" type="button"><span><i class="fab fa-google"></i></span> Đăng nhập với Google</button>
        <button (click)="loginWithFacebook()" mat-raised-button class="btn-social btn-login-facebook py-2 mx-3" type="button"><span><i class="fab fa-facebook-f"></i></span> Đăng nhập với Facebook</button>
      </div>
      <div class="footer-form d-flex justify-content-center flex-row">
        <button
          type="submit"
          mat-raised-button
          class="btn btn-primary"
          (click)="onLogIn()"
        >
          Đăng Nhập
        </button>
        <button
        type="button"
        mat-raised-button
        class="btn btn-danger"
        (click)="onLogOut()"
      >
        Đăng Xuất
      </button>
       
      </div>
    </form>
  </div>
</div>
