<app-marketting></app-marketting>
<div class="mt-10 container">
  <!-- List category -->
  <div>{{tradeKindSelected | json}}</div>
  <app-real-estate-appraised-section [tradeKindSelected] ="tradeKindSelected"></app-real-estate-appraised-section>
  <app-recommend-trade [tradeKindSelected] ="tradeKindSelected"></app-recommend-trade>
  <app-hot-real-estate-section [tradeKindSelected] ="tradeKindSelected" [title]="'Bất động sản gần bạn'"></app-hot-real-estate-section>
  <app-favorite [tradeKindSelected] ="tradeKindSelected" [favList]="favList"></app-favorite>
  <app-buy-on-demand-section [tradeKindSelected] ="tradeKindSelected"></app-buy-on-demand-section>
  <app-trading-area-section [tradeKindSelected] ="tradeKindSelected"></app-trading-area-section>
  <app-why-choose-section [tradeKindSelected] ="tradeKindSelected"></app-why-choose-section>
</div>
<app-floating-menu-wrapper *ngIf="false"></app-floating-menu-wrapper>
