<app-marketting></app-marketting>
<div class="mt-10 container">
  <app-real-estate-appraised-section></app-real-estate-appraised-section>
  <app-hot-real-estate-section></app-hot-real-estate-section>
  <app-favorite></app-favorite>
  <div class="hot-place">
      <app-section-header catTitle="Điểm nóng giao dịch" class="p-0"></app-section-header>
      <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3" *ngFor="let item of hotPlaceList">
              <app-news-item></app-news-item>
          </div>
      </div>
    </div>
  <app-why-choose-section></app-why-choose-section>
</div>
