<!-- Footer -->
<footer class="page-footer font-small">
  <!-- Top menu -->
  <div class="re-footer-top">
    <div class="container-fluid">
      <div class="row" itemscope="" itemtype="http://schema.org/ItemList">
        <div class="col-sm-3">
          <h4>Bất Động Sản Quận 12</h4>
          <ul class="ul-listing">
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng Quận 12"
            >
              <a itemprop="url" href="/mua/ban-nha-rieng-quan-12?src=footer"
                >Mua Nhà riêng Quận 12</a
              >
              <meta itemprop="position" content="1" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Đất nền Quận 12"
            >
              <a itemprop="url" href="/mua/ban-dat-nen-quan-12?src=footer"
                >Mua Đất nền Quận 12</a
              >
              <meta itemprop="position" content="2" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Chung cư/Căn hộ Quận 12"
            >
              <a
                itemprop="url"
                href="/mua/ban-can-ho-chung-cu-quan-12?src=footer"
                >Mua Chung cư/Căn hộ Quận 12</a
              >
              <meta itemprop="position" content="3" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Công Viên Phần Mềm Quang Trung"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cong-vien-phan-mem-quang-trung-quan-12?src=footer"
                >Mua Nhà riêng gần Công Viên Phần Mềm Quang Trung</a
              >
              <meta itemprop="position" content="4" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Co.opmart Nguyễn Ảnh Thủ"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-co-opmart-nguyen-anh-thu-quan-12?src=footer"
                >Mua Nhà riêng gần Co.opmart Nguyễn Ảnh Thủ</a
              >
              <meta itemprop="position" content="5" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần MM MEGA MARKET Hiệp Phú"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-mm-mega-market-hiep-phu-quan-12?src=footer"
                >Mua Nhà riêng gần MM MEGA MARKET Hiệp Phú</a
              >
              <meta itemprop="position" content="6" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Co.opmart Hiệp Thành"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-co-opmart-hiep-thanh-quan-12?src=footer"
                >Mua Nhà riêng gần Co.opmart Hiệp Thành</a
              >
              <meta itemprop="position" content="7" />
            </li>
            <li class="more">
              <p class="p-readmore" onclick="App.UI.showAllSpecialSearch();">
                Xem thêm
              </p>
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Khu Du Lịch Bến xưa"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-khu-du-lich-ben-xua-quan-12?src=footer"
                >Mua Nhà riêng gần Khu Du Lịch Bến xưa</a
              >
              <meta itemprop="position" content="8" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Ngã Tư Ga"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-nga-tu-ga-quan-12?src=footer"
                >Mua Nhà riêng gần Ngã Tư Ga</a
              >
              <meta itemprop="position" content="9" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Khu đô thị Hà đô Thới An"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-khu-do-thi-ha-do-thoi-an-quan-12?src=footer"
                >Mua Nhà riêng gần Khu đô thị Hà đô Thới An</a
              >
              <meta itemprop="position" content="10" />
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Bất Động Sản Quận Bình Thạnh</h4>
          <ul class="ul-listing">
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng Quận Bình Thạnh"
            >
              <a
                itemprop="url"
                href="/mua/ban-nha-rieng-quan-binh-thanh?src=footer"
                >Mua Nhà riêng Quận Bình Thạnh</a
              >
              <meta itemprop="position" content="11" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Đất nền Quận Bình Thạnh"
            >
              <a
                itemprop="url"
                href="/mua/ban-dat-nen-quan-binh-thanh?src=footer"
                >Mua Đất nền Quận Bình Thạnh</a
              >
              <meta itemprop="position" content="12" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Chung cư/Căn hộ Quận Bình Thạnh"
            >
              <a
                itemprop="url"
                href="/mua/ban-can-ho-chung-cu-quan-binh-thanh?src=footer"
                >Mua Chung cư/Căn hộ Quận Bình Thạnh</a
              >
              <meta itemprop="position" content="13" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Ngã tư Hàng Xanh"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-nga-tu-hang-xanh-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Ngã tư Hàng Xanh</a
              >
              <meta itemprop="position" content="14" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Bến Xe Miền Đông"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-ben-xe-mien-dong-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Bến Xe Miền Đông</a
              >
              <meta itemprop="position" content="15" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Cầu Thị Nghè"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cau-thi-nghe-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Cầu Thị Nghè</a
              >
              <meta itemprop="position" content="16" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Chợ Bà Chiểu"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cho-ba-chieu-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Chợ Bà Chiểu</a
              >
              <meta itemprop="position" content="17" />
            </li>
            <li class="more">
              <p class="p-readmore" onclick="App.UI.showAllSpecialSearch();">
                Xem thêm
              </p>
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Khu Văn Thánh"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-khu-van-thanh-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Khu Văn Thánh</a
              >
              <meta itemprop="position" content="18" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Bình Quới"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-binh-quoi-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Bình Quới</a
              >
              <meta itemprop="position" content="19" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Cầu Bông"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cau-bong-quan-binh-thanh?src=footer"
                >Mua Nhà riêng gần Cầu Bông</a
              >
              <meta itemprop="position" content="20" />
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Bất Động Sản Quận Gò Vấp</h4>
          <ul class="ul-listing">
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng Quận Gò Vấp"
            >
              <a itemprop="url" href="/mua/ban-nha-rieng-quan-go-vap?src=footer"
                >Mua Nhà riêng Quận Gò Vấp</a
              >
              <meta itemprop="position" content="21" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Đất nền Quận Gò Vấp"
            >
              <a itemprop="url" href="/mua/ban-dat-nen-quan-go-vap?src=footer"
                >Mua Đất nền Quận Gò Vấp</a
              >
              <meta itemprop="position" content="22" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Chung cư/Căn hộ Quận Gò Vấp"
            >
              <a
                itemprop="url"
                href="/mua/ban-can-ho-chung-cu-quan-go-vap?src=footer"
                >Mua Chung cư/Căn hộ Quận Gò Vấp</a
              >
              <meta itemprop="position" content="23" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Bệnh viện 175"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-benh-vien-175-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Bệnh viện 175</a
              >
              <meta itemprop="position" content="24" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Ngã 5 vòng xoay"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-nga-5-vong-xoay-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Ngã 5 vòng xoay</a
              >
              <meta itemprop="position" content="25" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Vincom Plaza Gò Vấp "
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-vincom-plaza-go-vap-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Vincom Plaza Gò Vấp
              </a>
              <meta itemprop="position" content="26" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Emart Gò Vấp"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-emart-go-vap-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Emart Gò Vấp</a
              >
              <meta itemprop="position" content="27" />
            </li>
            <li class="more">
              <p class="p-readmore" onclick="App.UI.showAllSpecialSearch();">
                Xem thêm
              </p>
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Chợ Gò Vấp"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cho-go-vap-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Chợ Gò Vấp</a
              >
              <meta itemprop="position" content="28" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Chợ Hạnh Thông Tây"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cho-hanh-thong-tay-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Chợ Hạnh Thông Tây</a
              >
              <meta itemprop="position" content="29" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Công viên Gia Định"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cong-vien-gia-dinh-quan-go-vap?src=footer"
                >Mua Nhà riêng gần Công viên Gia Định</a
              >
              <meta itemprop="position" content="30" />
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Bất Động Sản Quận Tân Bình</h4>
          <ul class="ul-listing">
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng Quận Tân Bình"
            >
              <a
                itemprop="url"
                href="/mua/ban-nha-rieng-quan-tan-binh?src=footer"
                >Mua Nhà riêng Quận Tân Bình</a
              >
              <meta itemprop="position" content="31" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Đất nền Quận Tân Bình"
            >
              <a itemprop="url" href="/mua/ban-dat-nen-quan-tan-binh?src=footer"
                >Mua Đất nền Quận Tân Bình</a
              >
              <meta itemprop="position" content="32" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Chung cư/Căn hộ Quận Tân Bình"
            >
              <a
                itemprop="url"
                href="/mua/ban-can-ho-chung-cu-quan-tan-binh?src=footer"
                >Mua Chung cư/Căn hộ Quận Tân Bình</a
              >
              <meta itemprop="position" content="33" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Công viên Hoàng Văn Thụ"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cong-vien-hoang-van-thu-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Công viên Hoàng Văn Thụ</a
              >
              <meta itemprop="position" content="34" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Vòng xoay Lăng Cha Cả"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-vong-xoay-lang-cha-ca-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Vòng xoay Lăng Cha Cả</a
              >
              <meta itemprop="position" content="35" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Khu Bàu Cát"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-khu-bau-cat-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Khu Bàu Cát</a
              >
              <meta itemprop="position" content="36" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Khu sân bay Tân Sơn Nhất"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-khu-san-bay-tan-son-nhat-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Khu sân bay Tân Sơn Nhất</a
              >
              <meta itemprop="position" content="37" />
            </li>
            <li class="more">
              <p class="p-readmore" onclick="App.UI.showAllSpecialSearch();">
                Xem thêm
              </p>
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Ngã tư Bảy Hiền"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-nga-tu-bay-hien-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Ngã tư Bảy Hiền</a
              >
              <meta itemprop="position" content="38" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Chợ Hoàng Hoa Thám"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cho-hoang-hoa-tham-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Chợ Hoàng Hoa Thám</a
              >
              <meta itemprop="position" content="39" />
            </li>
            <li
              itemscope=""
              itemtype="http://schema.org/ListItem"
              itemprop="itemListElement"
              title="Mua Nhà riêng gần Chợ Tân Bình"
              style="display:none"
            >
              <a
                itemprop="url"
                href="/mua/nha-rieng-cho-tan-binh-quan-tan-binh?src=footer"
                >Mua Nhà riêng gần Chợ Tân Bình</a
              >
              <meta itemprop="position" content="40" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- middle menu -->
  <div class="re-footer-middle">
    <div class="container-fluid">
      <div class="re-footer-1 row">
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12 propzy-info">
              <h4>Sản phẩm trên Real Estate </h4>
              <ul class="ul-footer">
                <li><a href="/mua/ban-nha-rieng-tphcm">Nhà riêng</a></li>
                <li>
                  <a href="/mua/ban-can-ho-chung-cu-tphcm">Căn hộ/ Chung cư</a>
                </li>
                <li><a href="/mua/ban-dat-nen-tphcm">Đất nền</a></li>
              </ul>
            </div>
            <div class="col-sm-12 propzy-system">
              <h4>Hệ thống Real Estate </h4>
              <ul class="ul-footer">
                <li><a href="/mua/ban-nha-rieng-tphcm">Mua nhà</a></li>
                <li><a href="/ban">Bán nhà</a></li>
                <li><a href="/thue">Thuê nhà</a></li>
                <li><a href="/moi-gioi">Cộng đồng môi giới Real Estate </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12 propzy-info">
              <h4>Dịch vụ của Real Estate </h4>
              <ul class="ul-footer">
                <li><a href="/dang-tin">Đăng tin miễn phí</a></li>
                <li>
                  <a
                    href="/dich-vu#thong-tin-quy-hoach"
                    onclick="return App.Feature.gotoService('thong-tin-quy-hoach');"
                    >Thông tin quy hoạch</a
                  >
                </li>
                <li>
                  <a
                    href="/dich-vu#tham-dinh-gia-bat-dong-san"
                    onclick="return App.Feature.gotoService('tham-dinh-gia-bat-dong-san');"
                    >Thẩm định giá bất động sản</a
                  >
                </li>
                <li>
                  <a
                    href="/dich-vu#phap-ly-bat-dong-san"
                    onclick="return App.Feature.gotoService('phap-ly-bat-dong-san');"
                    >Pháp lý bất động sản</a
                  >
                </li>
                <li>
                  <a
                    href="/dich-vu#thu-tuc-va-ho-so-vay-mua-nha"
                    onclick="return App.Feature.gotoService('thu-tuc-va-ho-so-vay-mua-nha');"
                    >Thủ tục và hồ sơ vay mua nhà</a
                  >
                </li>
                <li>
                  <a
                    href="/dich-vu#dam-bao-thanh-toan-ngan-hang"
                    onclick="return App.Feature.gotoService('dam-bao-thanh-toan-ngan-hang');"
                    >Đảm bảo thanh toán qua Ngân hàng</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-12">
              <h4>Về Real Estate </h4>
              <ul class="ul-footer">
                <li><a href="/ve-propzy">Giới thiệu</a></li>
                <li><a href="/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                <li><a href="/nghe-nghiep">Tuyển dụng</a></li>
                <li><a href="/lien-he">Liên hệ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <p class="logo-footer">
                <a href="https://propzy.vn/"
                  >
                  <!-- <img src="/assets/images/logo-footer.png"
                  /> -->
                </a>
              </p>
            </div>
            <div class="col-sm-6 re-social">
              <a
                rel="nofollow"
                target="_blank"
                href="#"
                class="icon-social facebook"
              ></a>
              <a
                rel="nofollow"
                target="_blank"
                href="#"
                class="icon-social twitter"
              ></a>
              <a
                rel="nofollow"
                target="_blank"
                href="#"
                class="icon-social linkedin"
              ></a>
              <div class="re-copyright">
                © 2019 by Real Estate . All rights reserved
              </div>
            </div>
          </div>
          <div class="block-tc">
            <div class="row">
              <div class="col-sm-6">
                <div itemprop="streetAddress" class="item-address-footer">
                  <span class="pin-adress">
                    Tầng 4, Tòa nhà Flemington, 182 Lê Đại Hành, Phường 15, Quận
                    11, TP. Hồ Chí Minh</span
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div itemprop="streetAddress" class="item-address-footer">
                  <span class="pin-adress">
                    829A Lũy Bán Bích, Phường Tân Thành, Quận Tân Phú, TP. Hồ
                    Chí Minh</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div itemprop="streetAddress" class="item-address-footer">
                  <span class="pin-adress">
                    241 Phan Huy Ích, Phường 14, Quận Gò Vấp, TP. Hồ Chí
                    Minh</span
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div itemprop="streetAddress" class="item-address-footer">
                  <span class="pin-adress">
                    202 Điện Biên Phủ, Phường 17, Quận Bình Thạnh, TP. Hồ Chí
                    Minh</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div itemprop="streetAddress" class="item-address-footer">
                  <p class="p-tc">
                    <a href="/diem-giao-dich"
                      >Các trung tâm giao dịch của Real Estate </a
                    >
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <a
                  rel="nofollow"
                  href="//www.dmca.com/Protection/Status.aspx?ID=2231fcd9-a737-4afd-bdeb-312777bb5c54"
                  title="DMCA.com Protection Status"
                  class="dmca-badge"
                >
                  <img
                    class="dcma-protected"
                    src="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=2231fcd9-a737-4afd-bdeb-312777bb5c54"
                    alt="DMCA.com Protection Status"
                  />
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div itemprop="streetAddress" class="item-address-footer">
                  <p class="p-hotline">
                    <span><i class="fas fa-phone    "></i></span>
                    Hotline:
                    <a href="tel:0582372781" itemprop="telephone"
                    ><0582372781</a
                    >
                  </p>
                </div>
                <div itemprop="streetAddress" class="item-address-footer">
                  <p class="p-email">
                    <span><i class="fas fa-envelope"></i> </span>
                    Email:
                    <a
                      class="mailto"
                      href="mailto:bql.revn@gmail.com?Subject=Liên hệ"
                      itemprop="email"
                    >bql.revn@gmail.com</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <p>
                  <a
                    rel="nofollow"
                    href="#"
                    target="_blank"
                    ><img
                      class="img-dathongbao"
                      src="https://mamnemdican.vn/themes/template/images/dathongbao.png"
                      alt=""
                  /></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
