$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import '../../../../my-theme.scss';
$bg-primary : #fff;

*{
    // background-color: $primary;
    font-size: 14px;
    text-decoration:none;
    font-family: 'Roboto',Fallback, sans-serif;
    color:$text-light;
}

*:hover{
    text-decoration:none;
    color:$text-light;
}
.page-footer{
    background-color:rgba(0, 0, 0, 0.8);
    background-image: url('../../../../assets/images/bg_footer.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
    background-blend-mode: overlay;
    padding-top:3rem;
    .re-footer-top{
        .ul-listing{
            list-style-type: none;
            text-align:left;
            padding: 0;
        }
    }
    .re-footer-middle{
        .ul-listing{
            list-style-type: none;
            text-align:left;
            padding: 0;
        }
        .ul-footer{
            padding:0;
        }
    }
    h4{
        font-size: 16px;
        margin-bottom: 18px;
        font-weight: 700;
    }
}
ul{
    list-style-type: none;
}
.fas{
    font-weight: 900;
    cursor: pointer;
}
.pin-adress {
    &::before{
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        content: '\f3c5'
    }
}
.p-hotline{
    &::before{
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        content: '\f095';
    }
}
.p-email{
    &::before{
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        content: '\f0e0'
    }
}