<div class="container-fluid">
    <div class="viewed-section" *ngIf="data">
      <app-section-header [catTitle]="title" class="p-0"></app-section-header>
      <app-carousel   [dataRecentRE] = "data" isRecentRE="isRecentRE"></app-carousel>
    </div>
    <agm-map 
    class="col-md-6"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">
  
    <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">
        
      <agm-info-window>
        <strong>{{data[0].description |json}}</strong>
      </agm-info-window>
      
    </agm-marker>
    
    <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle>
  
  </agm-map>
</div>
