.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(to right, #f17523 0, rgba(241, 117, 35, 0.94) 20%, rgba(0, 103, 221, 0.72) 100%);
}
.spacer{
  flex: 1 1 auto;
}
mat-icon{
  color:white;
}
.web-title{
  cursor: pointer;
}
.web-title:hover, .active,mat-icon:hover{
  color: red;
}