<mat-card class="real-estate-card-item md-card align-content-around" (click)="goToPage('mua')">
  <div class="img-hover-zoom">
      <img class="md-image card-img-top" [lazyLoad]="mainPic" alt="picsum" [defaultImage]="defaultPic" [offset]=100>
      <mat-icon class="icon icon-like"  matTooltip="Add to your's favorite list">favorite_border</mat-icon>
      <button class="btn-sm btn-checked" type="button" *ngIf="isAppraised">Đã thẩm định</button>
  </div>
  <div class="md-card-body">
    <div class="price-address d-flex flex-row justify-content-between">
      <div class="text-left font-weight-bold">
        <span class="rs-price">{{dataItem.cost}}</span>
        <span>  |  </span>
        <span class="span-acreage">{{dataItem.details.square}}m<sup>2</sup></span>
      </div>
      <div class="text-right">
        <p class="rs-location text-orange">{{ districtList | getDistrictNameFromId : dataItem.address.district}}</p>
      </div>
    </div>
    <div class="rs-desc">
      <p>{{dataItem.description}}</p>
    </div>
    <div class="rs-follow-count my-1">
      <button mat-raised-button class="mat-button btn-block btn-bg-faded-blue">Có 1866 lượt quan tâm</button>
    </div>
  </div>
  <div class="md-card-footer d-flex justify-content-between">
    <span class="rs-bed-room"><i class="fas fa-bed" matTooltip="Bedroom quantity"></i>{{dataItem.details.bedrooms}}</span>
    <span class="rs-bath-room"><i class="fas fa-bath" matTooltip="Bathroom quantity"></i>{{dataItem.details.bathrooms}}</span>
    <span class="rs-location-direct"><i class="fas fa-location-arrow" matTooltip="Location direction"></i>{{dataItem.details.direction}}</span>
  </div>
</mat-card>