@import "../../../../../my-theme.scss";
.marketting-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url("https://cdn.propzy.vn/cms_portal/2019/04/10/cms-portal_156d759f88f64c6375ac377a50e83bd29f6fa0403e38db1ca5586bbbdb2d0aef.jpg");
  background-size: cover;
  height: 50vh;
  width: 100%;
  background-position: center;
  padding-bottom: 3rem;

  mat-button-toggle {
    justify-content: center;
    align-items: center;
  }
  .mat-button-toggle-checked {
    background-color: $primary;
    color: $text-light;
  }
  .input-group > .form-control:not(:last-child),
  .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.3rem;
  }
  .mat-form-field{
    width: 100%;
    color:white;
  }
}
.icon{
  cursor: pointer;
}

::ng-deep .mat-select-content{
  color:white
}