<div class="marketting-wrapper">
  <div class="center-div text-center">
    <div class="title-marketting">
      <h2>Tìm Kiếm Mua - Thuê Nhà Tại Real Estate</h2>
    </div>
    <mat-button-toggle-group
      #reKindGroup="matButtonToggleGroup"
      (change)="onValChange(reKindGroup.value)"
      [value]="reKindValue"
    >
      <mat-button-toggle value="mua" active>
        <mat-icon class="text-white">check</mat-icon>
        Mua
      </mat-button-toggle>
      <mat-button-toggle value="thue">
        <mat-icon class="text-white">check</mat-icon>
        Thuê
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="example-selected-value">Đã chọn: {{ reKindGroup.value }}</div>
    <form class="searchForm">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Nhập để tìm kiếm" aria-label="Assignee" matInput [matAutocomplete]="auto" >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of states | filter: stateNameKey" [value]="state.nameWithType">
              {{state.nameWithType}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix role="button" class="icon" type="submit">search</mat-icon>
        </mat-form-field>
      </form>
  </div>
</div>
