<div class="container">
<div class="content-wrapper d-flex justify-content-between mx-3">
  <a class="rs-category-name" matTooltip="Bất động sản an toàn đã được thẩm định" categoryTitle="catTitle" viewmoreText="viewmoreText">{{catTitle}}</a>
  <a class="viewmore-text">{{viewmoreText}}<i class="fas {{iconName}}"></i></a>
</div>
<div class="d-flex flex-wrap">
  <app-realestate-item class="col-md-4 col-lg-3 my-2" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></app-realestate-item>
</div>
</div> 