<app-marketting></app-marketting>
<div class="create-post-wrapper container">
  <h3>Real Estate List</h3>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Cost</th>
      <th>UserId</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
    <tr *ngFor='let re of reList'>
      <td>{{re.id}}</td>
      <td>{{re.description}}</td>
      <td>{{re.cost}}</td>
      <td>{{re.user.id}}</td>
      <td>{{re.user.name}}</td>
      <td>{{re.user.email}}</td>
      <td>{{re.user.phone}}</td>
      <td><a (click)="delete(re.id)">Delete</a></td>
    </tr>
  </table>
</div>
