<app-marketting></app-marketting>
<div class="row">
  <div class="col-md-6 col-sm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Biên tập nội dung</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="vi" [fullPage]="true">
          </ck-editor>
          <button mat-raised-button>Lưu</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6 col-sm">
    <mat-card class="w-100 h-100">
      <div [innerHTML]="editorValue"></div>
    </mat-card>
  </div>
</div>