@import '~@angular/material/theming';
@include mat-core();
$custom-theme-primary: mat-palette($mat-blue,900);
$custom-theme-accent:  mat-palette($mat-orange,400);
$custom-theme-warn:    mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, 
                $custom-theme-accent, 
                $custom-theme-warn
                );
@include angular-material-theme($custom-theme);
$text-light: rgba(255,255,255,0.87);
$text-dark: rgba(0,0,0,0.87);
$primary: mat-color($custom-theme-primary);
$accent: mat-color($custom-theme-accent);
$warn: mat-color($custom-theme-warn);
