<mat-card class="why-choose-wrapper" color="accent">
  <div class="center-div text-center">
    <div class="title-why-choose">
      <h2>{{ whyChooseTitle }}</h2>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab class="cus-label" label="Người mua">
       <div class="row cus-row">
         <div class="col-md-4 col-sm">
          <p>Cơ hội tiếp cận hàng ngàn khách xem <br> nhà với nguồn tài chính sẵn sàng.</p>
         </div>
         <div class="col-md-4 col-sm">
          <p>Đội ngũ luật sư giàu kinh nghiệm <br>Tư vấn hoàn chỉnh pháp lý bất động sản <br> và thực hiện thủ tục pháp lý cho đến khi <br> giao dịch hoàn tất.</p>
         </div>
         <div class="col-md-4 col-sm">
          <p>Tư vấn phương thức thanh toán qua <br> ngân hàng</p>
         </div>
       </div>
       <div class="row cus-row">
        <div class="col-md-6 col-sm">
         <p>Cơ hội tiếp cận hàng ngàn khách xem <br> nhà với nguồn tài chính sẵn sàng.</p>
        </div>
        <div class="col-md-6 col-sm">
         <p>Đội ngũ luật sư giàu kinh nghiệm <br>Tư vấn hoàn chỉnh pháp lý bất động sản <br> và thực hiện thủ tục pháp lý cho đến khi <br> giao dịch hoàn tất.</p>
        </div>
      </div>
      </mat-tab>
      <mat-tab class="cus-label" label=" Người thuê">
        <div class="row cus-row">
          <div class="col-md-4 col-sm">
            <p>Nhà chính chủ với pháp lý minh bạch</p>
          </div>
          <div class="col-md-4 col-sm">
            <p>Đội ngũ luật sư giàu kinh nghiệm thực <br> hiện thủ tục pháp lý cho đến khi giao <br> dịch hoàn tất.</p>
          </div>
          <div class="col-md-4 col-sm">
            <p>Tư vấn giải pháp tài chính phù hợp</p>
          </div>
        </div>
        <div class="row cus-row">
          <div class="col-md-6 col-sm">
            <p>Đa dạng sản phẩm dễ dàng lựa chọn</p>
          </div>
          <div class="col-md-6 col-sm">
            <p>Giao dịch thuận tiện với chuỗi trung <br> tâm giao dịch REVN gần bạn</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="cus-label" label=" Dịch Vụ">
        <div class="row cus-row">
          <div class="col-md-4 col-sm">
            <p>Thẩm định giá bất động sản</p>
          </div>
          <div class="col-md-4 col-sm">
            <p>Thông tin quy hoạch</p>
          </div>
          <div class="col-md-4 col-sm">
            <p>Thủ tục hồ sơ vay mua nhà</p>
          </div>
        </div>
        <div class="row cus-row">
          <div class="col-md-6 col-sm">
            <p>Đảm bảo thanh toán qua ngân hàng</p>
          </div>
          <div class="col-md-6 col-sm">
            <p>Pháp lý bất động sản</p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
