.why-choose-wrapper {
    margin:1.5rem 0 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    // background: url("https://cdn.propzy.vn/cms_portal/2019/04/10/cms-portal_156d759f88f64c6375ac377a50e83bd29f6fa0403e38db1ca5586bbbdb2d0aef.jpg");
    background-color:#1da7e1;
    background-size: cover;
    min-height: 455px;
    padding-top: 5px;
    border-radius: 4px;
    width: 100%;
    background-position: center;
    padding-bottom: 3rem;
    mat-button-toggle-broup{

    }
    mat-button-toggle {
      justify-content: center;
      align-items: center;
      color:white;
      background:transparent;
    }
    .mat-button-toggle-checked {
      background-color: white;
      color: #1da7e1;
    }
    .mat-tab-label{
      color: white;
      font-weight: 500;
    }
  }
  