<mat-card class="real-estate-card-item md-card">
  <!-- <img src="https://dummyimage.com/255x150/333/fff" alt="dummyimage" class="card-img-top"> -->
  <img class="md-image card-img-top" [lazyLoad]="main_pic" alt="picsum" [defaultImage]="default_pic" [offset]=100>
  <div class="md-card-body mx-3">
    <div class="price-address d-flex flex-row justify-content-between">
      <div class="text-left">
        <span class="rs-price">42,5 tỷ</span>
        <span>  |  </span>
        <span class="rs-area">116,2 m<sup>2</sup></span>
      </div>
      <div class="text-right">
        <p class="rs-location">Q.6</p>
      </div>
    </div>
    <div class="rs-desc">
      <p>Bán nhà sát bên chợ Cây Gõ  Quận 6 - đang cho thuê 6.5 triệu/tháng</p>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span class="rs-bed-room"><i class="fas fa-bed"></i> 4</span>
    <span class="rs-bath-room"><i class="fas fa-bath"></i> 2</span>
    <span class="rs-location-direct"><i class="fas fa-location-arrow"></i> Tây Nam</span>
  </div>
</mat-card>
