<mat-card class="real-estate-card-item md-card">
  <!-- <img src="https://dummyimage.com/255x150/333/fff" alt="dummyimage" class="card-img-top"> -->
  <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://dummyimage.com/255x150/333/fff" alt="Los Angeles">
          <div class="carousel-caption">
              <h3>WD</h3>
              <p>We had such a great time in WD!</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="https://dummyimage.com/255x150/1ef/fff" alt="Chicago">
          <div class="carousel-caption">
              <h3>NY</h3>
              <p>We had such a great time in NY!</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="https://dummyimage.com/255x150/666/fff" alt="New York">
          <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <p>We had such a great time in LA!</p>
            </div>
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>
  <div class="price-address d-flex flex-row justify-content-between">
    <div class="text-left">
      <span>42,5 tỷ</span>
      <span>  |  </span>
      <span>116,2 m<sup>2</sup></span>
    </div>
    <div class="text-right">
      <p>Q.6</p>
    </div>
  </div>
  <div class="desc">
    <p>Bán nhà sát bên chợ Cây Gõ  Quận 6 - đang cho thuê 6.5 triệu/tháng</p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span><i class="fas fa-bed"></i> 4</span>
    <span><i class="fas fa-bath"></i> 2</span>
    <span><i class="fas fa-location-arrow"></i> Tây Nam</span>
  </div>
</mat-card>
