<div class="mt-10 container user-container">
  <h5>Danh sách người dùng</h5>
  <input type="text"[(ngModel)]="searchTerm" id="search" class="form-control my-2" >
  <div class="user-list row">
    <div *ngFor="let userItem of users | filter: searchTerm" class="col-md-4 col-lg-4 col-sm-4" (click)="goToUserDetail(userItem.id)">
      <mat-card class="user-card ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ userItem.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ userItem.id }}</p>
          <p>{{ userItem.name }}</p>
          <p>{{ userItem.email }}</p>
          <p>{{ userItem.phone }}</p>
          <p>{{ userItem.gender }}</p>
          <p>{{ userItem.userKind.id }}</p>
          <p>{{ userItem.userKind.name }}</p>
        </mat-card-content>
        <mat-card-actions [pro1]="sadsads">
          <button class="btn btn-success">Cập nhật</button>
          <button class="btn btn-danger" (click)="deleteUser(userItem.id)">
            Xóa
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <h5>Lấy thông tin người dùng theo mã</h5>
  <div class="user-item row" *ngIf="false">
    <mat-card class="user-card col-md-4 col-lg-4 col-sm-4">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ user?.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ user?.id }}</p>
        <p>{{ user?.name }}</p>
        <p>{{ user?.email }}</p>
        <p>{{ user?.phone }}</p>
        <p>{{ user?.gender }}</p>
        <p>{{ user?.userKind.id }}</p>
        <p>{{ user?.userKind.name }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-success">Cập nhật</button>
        <button class="btn btn-danger">Xóa</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="user-form my-2">
    <h5>Thêm mới người dùng</h5>
    <form
      #formUser="ngForm"
      novalidate
      (ngSubmit)="createUser(formUser.value)"
      class="row justify-content-md-center"
    >
      <div class="col-md-8">
          <div class="form-group row">
              <label for="example-text-input" class="col-md-2 col-form-label"
                >Id: </label
              >
              <div class="col-md-10">
                <input
                  class="form-control"
                  type="number"
                  id="example-text-input"
                  [(ngModel)]="newUser.id"
                  name="id"
                />
              </div>
            </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label"
            >Họ Tên:</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              type="text"
              id="example-text-input"
              [(ngModel)]="newUser.name"
              name="name"
              required
              autofocus
            />
          </div>
        </div>
        <div
          class="col alert alert-danger"
          role="alert"
          *ngIf="formUser.controls.name?.errors?.required"
        >
          Tên là bắt buộc
        </div>
        <div class="form-group row">
          <label for="example-email-input" class="col-md-2 col-form-label"
            >Thư điện tử:</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              type="email"
              id="example-email-input"
              [(ngModel)]="newUser.email"
              name="email"
              required
            />
          </div>
        </div>
        <div
          class="col alert alert-danger"
          role="alert"
          *ngIf="formUser.controls.email?.errors?.required"
        >
          Thư điện tử là bắt buộc
        </div>
        <div class="form-group row">
          <label for="example-password-input" class="col-md-2 col-form-label"
            >Mật khẩu:</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              type="password"
              id="example-password-input"
              [(ngModel)]="newUser.password"
              name="password"
              required
            />
          </div>
        </div>
        <div
          class="col alert alert-danger"
          role="alert"
          *ngIf="formUser.controls.password?.errors?.required"
        >
          Mật khẩu là bắt buộc
        </div>
        <div class="form-group row">
          <label for="example-tel-input" class="col-md-2 col-form-label"
            >Di động:</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              type="tel"
              id="example-tel-input"
              [(ngModel)]="newUser.phone"
              name="phone"
            />
          </div>
        </div>
        <mat-form-field>
          <mat-label>Giới tính</mat-label>
          <mat-select [(ngModel)]="newUser.gender" name="gender">
            <mat-option
              [value]="true"
            >
              Nam
            </mat-option>
            <mat-option
              [value]="false"
            >
              Nữ
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Loại User</mat-label>
          <mat-select [(ngModel)]="newUser.userKind" name="userKind">
            <mat-option
              *ngFor="let userKind of userKinds"
              [value]="userKind.id"
            >
              {{ userKind.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group row">
          <div class="col-md-10 offset-md-2">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!formUser.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
    <pre>{{ formUser.value | json }}</pre>
  </div>
</div>
