$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import '../../../../my-theme.scss';
    .section-header-wrapper{
        margin-left: 1rem;
        margin-right: 1rem;
        font-weight: bold;
        .rs-category-name{
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .viewmore-text{
            cursor: pointer;
            padding-left: 1rem;
            // color: orange;
            color: $accent;
            text-overflow: ellipsis;
            // overflow: hidden;
            white-space: nowrap;
            font-weight: normal;
        }
    }
