<div class="map-wrapper row">
    <div class="left-content col-md-7 col-sm" *ngIf="!isFullMap">
        <form [formGroup]='searchDetail' class="container-fluid" (ngSubmit)="onSubmitSearch()">
            <div class="search-section row">
                <mat-form-field>
                    <mat-select placeholder="Mục đích sử dụng" formControlName="tradeKind">
                        <mat-option *ngFor="let tradeKind of tradeKinds" [value]="tradeKind.id">
                            {{tradeKind.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nhập từ khoá tìm kiếm" formControlName="query" (keyup)="onKey($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Loại bất động sản" formControlName="reKind"
                        (selectionChange)="onChangeREKind()">
                        <mat-option *ngFor="let reKind of reKinds" [value]="reKind.id">
                            {{reKind.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Quận /Huyện" formControlName="district"
                        (selectionChange)="onChangeDistrict()">
                        <mat-option *ngFor="let district of districtList | sort" [value]="district.id">
                            {{district.nameWithType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Xã Phường /Huyện" formControlName="ward">
                        <mat-option *ngFor="let ward of wardList |sort; let i=index" [value]="ward.id">
                            {{ward.nameWithType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sortby-section row">
                <div class="sort-left col-md-6 col-sm">
                    <div class="title">Mua bán nhà riêng quận {{districtInfo?.pathWithType}}</div>
                    <div class="result-count" *ngIf="reList">Có
                        {{(reList | search:[query, newREKind])?.length > 0?(reList | search:[query,newREKind])?.length : 0}}
                        kết quả với từ khoá
                        <span class="font-italic font-weight-bold"> {{query}}</span>
                    </div>
                </div>
                <div class="sort-right col-md-6 col-sm">

                </div>
            </div>
            <div class="re-list" *ngIf="reList">
                <div class="re-container row" *ngFor="let item of reList | search:[query, newREKind]; let i = index">
                    <app-realestate-item [dataItem]="item" class="col-md-6 col-sm"></app-realestate-item>
                </div>
            </div>
            <button mat-raised-button type="submit">Tìm kiếm</button>
        </form>
    </div>
    <div class="map-container col-md-5 col-sm" *ngIf="!isFullMap">
        <div class="map-frame">
            <mgl-map id="map-box" [style]="style" [zoom]="[9]" [center]="[106.629662, 10.823099]"
                [cursorStyle]="cursorStyle">
                <mgl-control mglGeolocate [positionOptions]="{enableHighAccuracy: true}" [trackUserLocation]="true">
                </mgl-control>
                <mgl-control>
                    <mat-radio-group [ngModel]="layerId" (ngModelChange)="changeStyle($event)" #select>
                        <mat-radio-button value="basic">basic</mat-radio-button>
                        <mat-radio-button value="streets">streets</mat-radio-button>
                        <mat-radio-button value="light">light</mat-radio-button>
                        <mat-radio-button value="dark">dark</mat-radio-button>
                        <mat-radio-button value="satellite">satellite</mat-radio-button>
                    </mat-radio-group>
                </mgl-control>
                <mgl-control mglGeocoder [searchInput]="'Hồ Chí Minh'"></mgl-control>
                <mgl-control mglFullscreen position="bottom-right"></mgl-control>
                <mgl-control mglScale></mgl-control>
                <mgl-control mglNavigation position="top-right"></mgl-control>

                <!-- geojson -->
                <mgl-layer id="states-layer" type="fill" [source]="{
                                    'type': 'geojson',
                                    'data': 'assets/map/vietnam-district.geojson'
                                }" [paint]="{
                                'fill-color': 'rgba(200, 100, 240, 0.1)',
                                'fill-outline-color': 'rgba(200, 100, 240, 1)'
                                }" (mouseEnter)="cursorStyle = 'pointer'" (mouseLeave)="cursorStyle = ''"
                    (click)="onClick($event)">
                </mgl-layer>
                <mgl-popup *ngIf="selectedLngLat" [lngLat]="selectedLngLat">
                    <p class="text-center font-weight-bold" [innerHTML]="selectedElement?.Ten"></p>
                    <img src="assets/images/default.png" alt="Mặc định">
                </mgl-popup>
                <!-- render marker -->
                <mgl-marker #myMarker *ngFor="let item of reList; let i=index"
                    [lngLat]=[item?.coordinate?.longitude,item?.coordinate?.latitude]
                    >
                    <div [ngStyle]="{
                                'background-image': 'url(https://www.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg)',
                                'background-size': 'cover',
                                width: '30px',
                                height: '30px',
                                'border-radius': '50%',
                                cursor: 'pointer'
                                }">
                    </div>
                </mgl-marker>
            </mgl-map>
        </div>
    </div>
    <div class="map-container col-md col-sm" *ngIf="isFullMap">
        <button mat-icon-button aria-label="Bản đồ và bất động sản" routerLinkActive="mat-primary"
            [routerLink]="['/tim-kiem']">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Bản đồ toàn màn hình" (click)="mapFullScreen($event)">
            <mat-icon>map</mat-icon>
        </button>
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>