<mat-progress-bar [mode]="'indeterminate'" [color]="'accent'" [hidden]='!isLoading' class="my-3">
</mat-progress-bar>
<div class="map-wrapper row">
    <div class="left-content col-md-7 col-sm" *ngIf="!isFullMap">
        <form [formGroup]='searchDetail' class="container-fluid" (ngSubmit)="onSubmitSearch()">
            <div class="search-section row mx-2 px-2">
                <mat-form-field>
                    <mat-select placeholder="Mục đích sử dụng" formControlName="tradeKind" (selectionChange) = "onChangeTradeKind()">
                        <mat-option *ngFor="let tradeKind of tradeKinds" [value]="tradeKind.id">
                            {{tradeKind.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nhập từ khoá tìm kiếm" formControlName="query" (keyup)="onKey($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Loại bất động sản" formControlName="reKind"
                        (selectionChange)="onChangeREKind()">
                        <!-- <mat-option [value]=0>
                           Tất cả
                        </mat-option> -->
                        <mat-option *ngFor="let reKind of reKinds" [value]="reKind.id">
                            {{reKind.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Quận /Huyện" formControlName="district"
                        (selectionChange)="onChangeDistrict()">
                        <mat-option *ngFor="let district of districtList | sort" [value]="district.id">
                            {{district.nameWithType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Xã Phường /Xã" formControlName="ward">
                        <!-- <mat-option [value]=0>
                            Chọn một phường xã
                        </mat-option> -->
                        <mat-option *ngFor="let ward of wardList |sort; let i=index" [value]="ward.id">
                            {{ward.nameWithType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="more-condition">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Thêm tiêu chí
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                               Thêm tiêu chí tìm kiếm
                              </mat-panel-description> -->
                        </mat-expansion-panel-header>
                        <!-- content -->
                        <div class="content-expansion">
                            <mat-card>
                                <mat-card-content>
                                    <div class="row">
                                        <div class="price col-md-6 col-sm">
                                            <mat-label>
                                                Giá bán:
                                            </mat-label>
                                            <mat-radio-group formControlName="priceOption"
                                                (change)="handleChange('priceOption')">
                                                <mat-radio-button [value]=0>Kéo chọn</mat-radio-button>
                                                <mat-radio-button [value]=1>Nhập</mat-radio-button>
                                            </mat-radio-group>
                                            <div *ngIf="priceOption===0">
                                                <span>{{min}}</span>
                                                <mat-slider [max]="max" [min]="min" [step]="step"
                                                    [thumbLabel]="thumbLabel" formControlName="price"></mat-slider>
                                                <span>{{max}} tỷ</span>
                                            </div>
                                            <mat-select *ngIf="priceOption===1" placeholder="Giá bán"
                                                formControlName="price" name="price">
                                                <mat-option *ngFor="let price of prices" [value]="price.value">
                                                    {{price.label}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="price col-md-6 col-sm">
                                            <mat-label>
                                                Diện tích:
                                            </mat-label>
                                            <mat-radio-group formControlName="squareOption"
                                                (change)="handleChange('squareOption')">
                                                <mat-radio-button [value]=0>Kéo chọn</mat-radio-button>
                                                <mat-radio-button [value]=1>Nhập</mat-radio-button>
                                            </mat-radio-group>
                                            <div *ngIf="squareOption===0">
                                                <span>20 m <sup>2</sup></span>
                                                <mat-slider [max]=120 [min]=20 [step]=10
                                                    [thumbLabel]="thumbLabel" formControlName="square"></mat-slider>
                                                <span>120 m <sup>2</sup></span>
                                            </div>
                                            <mat-select *ngIf="squareOption===1" placeholder="Diện tích"
                                                formControlName="square" name="square">
                                                <mat-option *ngFor="let square of squares" [value]="square.value">
                                                    {{square.label}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <br>
                            <mat-card *ngIf="false">
                                <mat-card-content>
                                    <mat-label>
                                        Vị trí:
                                    </mat-label>
                                    <mat-radio-group formControlName="position">
                                        <mat-radio-button [value]=0>Mặt tiền</mat-radio-button>
                                        <mat-radio-button [value]=1>Hẻm</mat-radio-button>
                                    </mat-radio-group>
                                </mat-card-content>
                            </mat-card>
                            <br>
                            <mat-card *ngIf="false">
                                <mat-card-content>
                                    <section class="row">
                                        <div class="col-md-4">
                                            <div class="bedroom">
                                                <mat-label>
                                                    Phòng ngủ:
                                                </mat-label>
                                                <mat-button-toggle-group #bedroom formControlName="bedroom">
                                                    <mat-button-toggle [value]=0>-</mat-button-toggle>
                                                    <mat-button-toggle [value]=0>0</mat-button-toggle>
                                                    <mat-button-toggle [value]=0>+</mat-button-toggle>
                                                </mat-button-toggle-group>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="bedroom">
                                                <mat-label>
                                                    Phòng tắm:
                                                </mat-label>
                                                <mat-button-toggle-group #bedroom formControlName="bathroom">
                                                    <mat-button-toggle [value]=0>-</mat-button-toggle>
                                                    <mat-button-toggle [value]=0>0</mat-button-toggle>
                                                    <mat-button-toggle [value]=0>+</mat-button-toggle>
                                                </mat-button-toggle-group>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="bedroom">
                                                <mat-label>
                                                    Số tầng:
                                                </mat-label>
                                                <mat-button-toggle-group #bedroom formControlName="floors">
                                                    <mat-button-toggle [value]=0>-</mat-button-toggle>
                                                    <mat-button-toggle [value]=0>0</mat-button-toggle>
                                                    <mat-button-toggle [value]=0>+</mat-button-toggle>
                                                </mat-button-toggle-group>

                                            </div>
                                        </div>
                                    </section>
                                </mat-card-content>
                            </mat-card>
                            <br>
                            <mat-card *ngIf="false">
                                <mat-card-content>
                                    <mat-label>
                                        Hướng:
                                    </mat-label>
                                    <mat-checkbox [value]=1>Đông</mat-checkbox>
                                    <mat-checkbox [value]=2>Tây</mat-checkbox>
                                    <mat-checkbox [value]=3>Nam</mat-checkbox>
                                    <mat-checkbox [value]=4>Bắc</mat-checkbox>
                                    <mat-checkbox [value]=5>Đông Bắc</mat-checkbox>
                                    <mat-checkbox [value]=6>Tây Bắc</mat-checkbox>
                                    <mat-checkbox [value]=7>Đông Nam</mat-checkbox>
                                    <mat-checkbox [value]=8>Tây Nam</mat-checkbox>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="sortby-section row">
                <div class="sort-left col-md-6 col-sm">
                  
                </div>
                <div class="sort-right col-md-6 col-sm">
                </div>
            </div>
            <button mat-raised-button type="submit">Tìm kiếm</button>
            <div class="row">
                <div class="col-md-6 col-sm">
                    <div class="title">Mua bán nhà riêng quận {{districtInfo?.pathWithType}}</div>
                    <div class="result-count" *ngIf="reList">Có
                        {{(reList | search:[query, newREKind] | tradekindPipe : tradeKind)?.length > 0?(reList | search:[query,newREKind] | tradekindPipe : tradeKind)?.length : 0}}
                        kết quả với từ khoá
                        <span class="font-italic font-weight-bold"> {{query}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm">
                </div>
            </div>
            <div class="re-list" *ngIf="reList">
                <div class="re-container row" *ngFor="let item of reList | search:[query, newREKind] | tradekindPipe : tradeKind; let i = index">
                    <app-realestate-item [dataItem]="item" class="col-md-6 col-sm"></app-realestate-item>
                </div>
            </div>
        </form>
    </div>
    <div class="map-container col-md-5 col-sm" *ngIf="!isFullMap">
        <div class="map-frame mx-2 px-2">
            <mgl-map id="map-box" [style]="style" [zoom]="[9]" [center]="[106.629662, 10.823099]"
                [cursorStyle]="cursorStyle">
                <mgl-control mglGeolocate [positionOptions]="{enableHighAccuracy: true}" [trackUserLocation]="true">
                </mgl-control>
                <mgl-control mglFullscreen position="bottom-right"></mgl-control>
                <mgl-control mglScale></mgl-control>
                <mgl-control mglNavigation position="top-right"></mgl-control>

                <!-- geojson -->
                <!-- <mgl-layer id="states-layer" type="fill" [source]="{
                                'type': 'geojson',
                                'data': 'assets/map/vietnam-district.geojson'
                            }" [paint]="{
                            'fill-color': 'rgba(200, 100, 240, 0.1)',
                            'fill-outline-color': 'rgba(200, 100, 240, 1)'
                            }" (mouseEnter)="cursorStyle = 'pointer'" (mouseLeave)="cursorStyle = ''"
                    (click)="onClick($event)">
                </mgl-layer> -->
            <div *ngIf="reList">
                <mgl-marker #myMarker *ngFor="let item of reList | search:[query, newREKind] | tradekindPipe : tradeKind; let i=index"
                [lngLat]=[item?.coordinate?.longitude,item?.coordinate?.latitude]>
                <div [ngStyle]="{
                            'background-image': 'url(https://www.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg)',
                            'background-size': 'cover',
                            width: '30px',
                            height: '30px',
                            'border-radius': '50%',
                            cursor: 'pointer'
                            }">
                </div>
                <mgl-popup [lngLat]=[item?.coordinate?.longitude,item?.coordinate?.latitude] style="cursor: pointer;">
                    <p class="text-center font-weight-bold">{{item?.description}}</p>
                    <img [src]="item?.realImages[0].imageLink" alt="Mặc định">
                    <div class="prices">Giá : {{item?.cost.toLocaleString('vi-VI')}}</div>
                    <div class="square">Diện tích : {{item?.details?.square}} m<sup>2</sup></div>
                    <button mat-raised-button  (click)="goToDetail(item.id)">Chi tiết</button>
                </mgl-popup>
            </mgl-marker>
            </div>
            </mgl-map>
        </div>
    </div>
    <div class="map-container col-md col-sm" *ngIf="isFullMap">
        <button mat-icon-button aria-label="Bản đồ và bất động sản" routerLinkActive="mat-primary"
            [routerLink]="['/tim-kiem']">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Bản đồ toàn màn hình" (click)="mapFullScreen($event)">
            <mat-icon>map</mat-icon>
        </button>
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>